<div class="row">
    <div class="col-12 mb-3">
        <h2><a href="#"><i class="bi bi-arrow-left"></i></a> Create New task</h2>
    </div>
</div>

<div class="row">
    <form action="/task/create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input type="text" class="form-control" id="title"  name="Title">
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <input type="text" class="form-control" id="Description" name="Description">
        </div>
        <div class="mb-3">
            <label for="deadline" class="form-label">Deadline</label>
            <input type="date" class="form-control" id="deadline" name="DeadLine">
        </div>
        <div class="mb-3">
            <label for="pdf" class="form-label">pdf file</label>
            <input type="file" class="form-control" id="pdf" name="file" >
        </div>
        <input type="hidden" name="MemberId" value="@Model" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
